### 1. Array

In [17]:
import numpy as np

t1 = np.array([1,2,3,])
print(t1)
print(type(t1))

[1 2 3]
<class 'numpy.ndarray'>

In [18]:
t2 = np.array(range(10))
print(t2)

[0 1 2 3 4 5 6 7 8 9]

In [19]:
t3 = np.arange(4,10,2)
print(t3)
print(t3.dtype)
print(type(t3))

[4 6 8]
int32
<class 'numpy.ndarray'>

In [20]:
t4 = np.array(range(1,4), dtype=float)
print(t4)
print(t4.dtype)

[1. 2. 3.]
float64

In [22]:
t5 = np.array([1,1,0,1,0,0], dtype=bool)
print(t5)
print(t5.dtype)

[ True  True False  True False False]
bool

In [23]:
t6 = t5.astype("int8")
print(t6)
print(t6.dtype)

[1 1 0 1 0 0]
int8

In [27]:
import random
t7 = np.array([random.random() for i in range(10)])
print(t7)
print(t7.dtype)

t8 = np.round(t7, 2)
print(t8)

[0.4757123  0.32304928 0.31567081 0.11265698 0.46611222 0.91094618
 0.95128961 0.03284702 0.62865437 0.06992712]
float64
[0.48 0.32 0.32 0.11 0.47 0.91 0.95 0.03 0.63 0.07]

In [31]:
print("%.2f"%random.random())
print("%.3f"%random.random())

0.37
0.359

### 2. Array Compute

In [34]:
import numpy as np
t1 = np.arange(12)
print(t1)
print(t1.shape)

[ 0  1  2  3  4  5  6  7  8  9 10 11]
(12,)

In [38]:
t2 = np.array([[1,2,3],[4,5,6]])
print(t2)
print(t2.shape)

[[1 2 3]
 [4 5 6]]
(2, 3)

In [39]:
t3 = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(t3)
print(t3.shape)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
(2, 2, 3)

In [47]:
t4 = np.arange(12)
print(t4)
t4 = t4.reshape(3,4)
print(t4)

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [80]:
t5 = np.arange(24).reshape(2,3,4)
print(t5)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [81]:
t5.reshape(4,6) # no mutation applied to itself

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [82]:
t5

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [88]:
t5=t5.reshape(1,24)
print(t5)

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]]

In [71]:
t5.shape[0]*t5.shape[1]

24

In [75]:
t6 = t5.reshape(t5.shape[0]*t5.shape[1],)
print(t6)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [89]:
t5 = t5.reshape(4,6) 
print(t5)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [92]:
t5.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [95]:
t5

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [96]:
t5+2

array([[ 2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25]])

In [97]:
t5/2

array([[ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5],
       [ 3. ,  3.5,  4. ,  4.5,  5. ,  5.5],
       [ 6. ,  6.5,  7. ,  7.5,  8. ,  8.5],
       [ 9. ,  9.5, 10. , 10.5, 11. , 11.5]])

In [99]:
t6 = np.arange(100, 124).reshape(4,6)

In [100]:
t6

array([[100, 101, 102, 103, 104, 105],
       [106, 107, 108, 109, 110, 111],
       [112, 113, 114, 115, 116, 117],
       [118, 119, 120, 121, 122, 123]])

In [101]:
t5+t6

array([[100, 102, 104, 106, 108, 110],
       [112, 114, 116, 118, 120, 122],
       [124, 126, 128, 130, 132, 134],
       [136, 138, 140, 142, 144, 146]])

### 3. Read file
###### ref: https://github.com/TheisTrue/DataAnalysis

In [116]:
import numpy as np

us_file_path=r".\youtube_video_data\US_video_data_numbers.csv"
uk_file_path=r".\youtube_video_data\GB_video_data_numbers.csv"

# transpose
t1 = np.loadtxt(us_file_path, delimiter=",", dtype="int", unpack=True)
t2 = np.loadtxt(uk_file_path, delimiter=",", dtype="int")
print(t1)
print("*"*20)
print(t2)

[[4394029 7860119 5845909 ...  142463 2162240  515000]
 [ 320053  185853  576597 ...    4231   41032   34727]
 [   5931   26679   39774 ...     148    1384     195]
 [  46245       0  170708 ...     279    4737    4722]]
********************
[[7426393   78240   13548     705]
 [ 494203    2651    1309       0]
 [ 142819   13119     151    1141]
 ...
 [ 109222    4840      35     212]
 [ 626223   22962     532    1559]
 [  99228    1699      23     135]]

In [112]:
t3 = np.arange(24).reshape(4,6)
print(t3)
t3.transpose()

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])

In [113]:
t3.T

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])

In [114]:
t3.swapaxes(1,0)

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])

In [121]:
print(t2[2])
print(t2[2:])
print(t2[[2,8,10]])

[142819  13119    151   1141]
[[ 142819   13119     151    1141]
 [1580028   65729    1529    3598]
 [  40592    5019      57     490]
 ...
 [ 109222    4840      35     212]
 [ 626223   22962     532    1559]
 [  99228    1699      23     135]]
[[ 142819   13119     151    1141]
 [  65453    2761      33     223]
 [1121715   65988     591   51025]]

In [131]:
print(t2[1,:])
print(t2[[2,8,10],:])
print(t2[:,0])
print(t2[:,2:])
print(t2[:,[0,2]])
print(t2[2,3])
print(t2[2:5, 1:4])
print(t2[[0,2,2],[0,1,3]]) #取不相邻点 (0,0), (2,1) and (2,3)

[494203   2651   1309      0]
[[ 142819   13119     151    1141]
 [  65453    2761      33     223]
 [1121715   65988     591   51025]]
[7426393  494203  142819 ...  109222  626223   99228]
[[13548   705]
 [ 1309     0]
 [  151  1141]
 ...
 [   35   212]
 [  532  1559]
 [   23   135]]
[[7426393   13548]
 [ 494203    1309]
 [ 142819     151]
 ...
 [ 109222      35]
 [ 626223     532]
 [  99228      23]]
1141
[[13119   151  1141]
 [65729  1529  3598]
 [ 5019    57   490]]
[7426393   13119    1141]

In [135]:
t2 = np.arange(24).reshape(4,6)
print(t2)
t2[:,2:4]=0
print(t2)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[ 0  1  0  0  4  5]
 [ 6  7  0  0 10 11]
 [12 13  0  0 16 17]
 [18 19  0  0 22 23]]

In [136]:
t2<10

array([[ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False, False],
       [False, False,  True,  True, False, False],
       [False, False,  True,  True, False, False]])

In [142]:
t2[t2<10]=0
t2

array([[ 0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 10, 11],
       [12, 13,  0,  0, 16, 17],
       [18, 19,  0,  0, 22, 23]])

In [147]:
t2 = np.arange(24).reshape(4,6)
print(t2)
t2 = np.where(t2<=10,0,10)
print(t2)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[ 0  0  0  0  0  0]
 [ 0  0  0  0  0 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

In [148]:
t2 = np.arange(24).reshape(4,6)
print(t2)
t2 = t2.clip(10,18)
print(t2)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[10 10 10 10 10 10]
 [10 10 10 10 10 11]
 [12 13 14 15 16 17]
 [18 18 18 18 18 18]]

In [153]:
t2 = np.arange(24).reshape(4,6)
print(t2)
print(t2[3,3])

t2 = t2.astype(float)
t2[3,3] = np.nan
print(t2)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
21
[[ 0.  1.  2.  3.  4.  5.]
 [ 6.  7.  8.  9. 10. 11.]
 [12. 13. 14. 15. 16. 17.]
 [18. 19. 20. nan 22. 23.]]

In [158]:
t1 = np.arange(12).reshape(2,6)
print(t1)
t2 = np.arange(12,24).reshape(2,6)
print(t2)
print(np.vstack((t1,t2)))
print(np.hstack((t1,t2)))

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
[[12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]
[[ 0  1  2  3  4  5 12 13 14 15 16 17]
 [ 6  7  8  9 10 11 18 19 20 21 22 23]]

In [160]:
t = np.arange(12, 24).reshape(3,4)
print(t)
t[[1,2],:] = t[[2,1],:]
print(t)
t[:,[0,2]] = t[:,[2,0]]
print(t)

[[12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]
[[12 13 14 15]
 [20 21 22 23]
 [16 17 18 19]]
[[14 13 12 15]
 [22 21 20 23]
 [18 17 16 19]]

In [183]:
import numpy as np

us_data=r".\youtube_video_data\US_video_data_numbers.csv"
uk_data=r".\youtube_video_data\GB_video_data_numbers.csv"

us_data = np.loadtxt(us_data, delimiter=",", dtype="int")
uk_data = np.loadtxt(uk_data, delimiter=",", dtype="int")
print(us_data)
print("*"*20)
print(uk_data)

[[4394029  320053    5931   46245]
 [7860119  185853   26679       0]
 [5845909  576597   39774  170708]
 ...
 [ 142463    4231     148     279]
 [2162240   41032    1384    4737]
 [ 515000   34727     195    4722]]
********************
[[7426393   78240   13548     705]
 [ 494203    2651    1309       0]
 [ 142819   13119     151    1141]
 ...
 [ 109222    4840      35     212]
 [ 626223   22962     532    1559]
 [  99228    1699      23     135]]

In [184]:
zeros_data = np.zeros((us_data.shape[0],1)).astype(int)
ones_data = np.ones((uk_data.shape[0],1)).astype(int)
print(zeros_data)
print(ones_data)

[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]
[[1]
 [1]
 [1]
 ...
 [1]
 [1]
 [1]]

In [185]:
us_data = np.hstack((us_data, zeros_data))
uk_data = np.hstack((uk_data, ones_data))
print(us_data)
print(uk_data)

[[4394029  320053    5931   46245       0]
 [7860119  185853   26679       0       0]
 [5845909  576597   39774  170708       0]
 ...
 [ 142463    4231     148     279       0]
 [2162240   41032    1384    4737       0]
 [ 515000   34727     195    4722       0]]
[[7426393   78240   13548     705       1]
 [ 494203    2651    1309       0       1]
 [ 142819   13119     151    1141       1]
 ...
 [ 109222    4840      35     212       1]
 [ 626223   22962     532    1559       1]
 [  99228    1699      23     135       1]]

In [187]:
final_data = np.vstack((us_data, uk_data))
print(final_data)

[[4394029  320053    5931   46245       0]
 [7860119  185853   26679       0       0]
 [5845909  576597   39774  170708       0]
 ...
 [ 109222    4840      35     212       1]
 [ 626223   22962     532    1559       1]
 [  99228    1699      23     135       1]]

In [193]:
print(np.ones((2,3)))
print(np.zeros((3,4)))

[[1. 1. 1.]
 [1. 1. 1.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [196]:
t=np.eye(3)
print(t)
print(np.argmax(t, axis=0))

t[t==1]=-1
print(t)
print(np.argmin(t, axis=1))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[0 1 2]
[[-1.  0.  0.]
 [ 0. -1.  0.]
 [ 0.  0. -1.]]
[0 1 2]

In [199]:
np.random.randint(10,20,(4,5))

array([[19, 17, 17, 18, 12],
       [17, 14, 10, 14, 10],
       [10, 12, 13, 14, 18],
       [11, 14, 15, 10, 15]])

In [204]:
np.random.seed(10)
t = np.random.randint(0,20,(3,4))
print(t)

[[ 9  4 15  0]
 [17 16 17  8]
 [ 9  0 10  8]]

In [205]:
print(type(np.inf))
print(type(np.nan))

<class 'float'>
<class 'float'>