In [2]:
import pandas as pd

pd.Series([1,2,31,12,3,4])

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [3]:
t = pd.Series([1,2,31,12,3,4])
type(t)

pandas.core.series.Series

In [4]:
t

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [5]:
t2 = pd.Series([1,23,2,2,1], index=list("abcde"))
t2

a     1
b    23
c     2
d     2
e     1
dtype: int64

In [6]:
temp_dict = {"name":"Jay","age":"30","tel":"10086"}
t3 = pd.Series(temp_dict)
t3

name      Jay
age        30
tel     10086
dtype: object

In [8]:
t3.dtype # O means object

dtype('O')

In [10]:
import string
a = {string.ascii_uppercase[i]: i for i in range(10)}
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [11]:
pd.Series(a)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [12]:
pd.Series(a, index=list(string.ascii_uppercase[5:15]))

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64