# 1. Basic

In [2]:
import pandas as pd
pd.Series([1,2,31,12,3,4])

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [3]:
t = pd.Series([1,2,31,12,3,4])
type(t)

pandas.core.series.Series

In [4]:
t

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [5]:
t2 = pd.Series([1,23,2,2,1], index=list("abcde"))
t2

a     1
b    23
c     2
d     2
e     1
dtype: int64

In [6]:
temp_dict = {"name":"Jay","age":"30","tel":"10086"}
t3 = pd.Series(temp_dict)
t3

name      Jay
age        30
tel     10086
dtype: object

In [8]:
t3.dtype # O means object

dtype('O')

In [10]:
import string
a = {string.ascii_uppercase[i]: i for i in range(10)}
a

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [11]:
pd.Series(a)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [12]:
pd.Series(a, index=list(string.ascii_uppercase[5:15]))

F    5.0
G    6.0
H    7.0
I    8.0
J    9.0
K    NaN
L    NaN
M    NaN
N    NaN
O    NaN
dtype: float64

In [13]:
t3

name      Jay
age        30
tel     10086
dtype: object

In [14]:
t3["age"]

'30'

In [15]:
t3[1]

'30'

In [17]:
t3[:3]

name      Jay
age        30
tel     10086
dtype: object

In [18]:
t3[[1,2]]

age       30
tel    10086
dtype: object

In [19]:
t3[["age","tel"]]

age       30
tel    10086
dtype: object

In [20]:
t

0     1
1     2
2    31
3    12
4     3
5     4
dtype: int64

In [21]:
t[t>10]

2    31
3    12
dtype: int64

In [24]:
t3.index

Index(['name', 'age', 'tel'], dtype='object')

In [29]:
for i in t3.index:
    print(i)
print(type(t3.index))
print(len(t3.index))

name
age
tel
<class 'pandas.core.indexes.base.Index'>
3

In [30]:
list(t3.index)

['name', 'age', 'tel']

In [31]:
list(t3.index)[:2]

['name', 'age']

In [27]:
t3.values

array(['Jay', '30', '10086'], dtype=object)

In [32]:
type(t3.values)

numpy.ndarray

# 2. File

In [34]:
import pandas as pd
df = pd.read_csv(r".\data\dogNames2.csv")
df.head(10)

  Row_Labels  Count_AnimalName
0          1                 1
1          2                 2
2      40804                 1
3      90201                 1
4      90203                 1
5     102201                 1
6    3010271                 1
7      MARCH                 2
8      APRIL                51
9     AUGUST                14

# 3. DataFrame

In [36]:
import pandas as pd
import numpy as np
pd.DataFrame(np.arange(12).reshape(3,4))

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11